.cvContainer {
  display: grid;
  grid-template-columns: [first] 320px auto;
  grid-template-rows: auto;
  column-gap: 1.2em;
  margin: 1.2em;
  color: #f5efe7;
}

.cvContainer p:last-child {
  margin-bottom: 0;
}

.roundedBox {
  background-color: #272e35;
  border-radius: 0.7em;
  padding: 1em;
  margin-bottom: 1.2em;
}
